<launch>

  <node name="sensar_ros_laserscan" pkg="sensar_ros" type="sensar_ros_laserscan" respawn="true"/>
  <node name="sensar_ros_map" pkg="sensar_ros" type="sensar_ros_map" respawn="true"/>
  <node name="sensar_ros_amcl_pose" pkg="sensar_ros" type="sensar_ros_amcl_pose" respawn="true"/>
  <node name="sensar_ros_particlecloud" pkg="sensar_ros" type="sensar_ros_particlecloud" respawn="true"/>
  <node name="sensar_ros_costmap" pkg="sensar_ros" type="sensar_ros_costmap" respawn="true"/>

</launch>
