<launch>
  
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>

  <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="-2.0"/>
    <arg name="initial_pose_y" value="-0.45"/>
  </include>

  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="false"/>
  </include> 

  <node pkg="map_server" name="map_server" type="map_server" args="$(find turtlebot3_navigation)/maps/map.yaml"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_config)/WayPoints.rviz"/>
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_config)/Default.rviz"/> -->



  <rosparam file="$(find sensar_ros)/param/turtlebot_settings.yaml" command="load" />

</launch>
