<launch>

	<include file="$(find tbot2_launch)/launch/tbot2_lidar.launch"/>
	<include file="$(find tbot2_launch)/launch/amcl_navigation.launch"/>	
	<!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/> -->
    <!-- <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch"/> -->

	<include file="$(find turtlebot_dashboard)/launch/turtlebot_dashboard.launch"/>

	<!-- <node name="sensar_nav2" pkg="sensar_ros" type="NavGoal_Turtlebot2.py"/> -->


  	<!-- <include file="$(find sensar_ros)/launch/includes/move_base.launch.xml"/> -->

  	<rosparam file="$(find sensar_ros)/param/turtlebot_settings.yaml" command="load" />

</launch>
